In [2]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\sumit garg\anaconda3\lib\site-packages (4.18.1)
Requirement already satisfied: urllib3[socks]<3,>=1.26 in c:\users\sumit garg\anaconda3\lib\site-packages (from selenium) (1.26.16)
Requirement already satisfied: trio~=0.17 in c:\users\sumit garg\anaconda3\lib\site-packages (from selenium) (0.24.0)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\sumit garg\anaconda3\lib\site-packages (from selenium) (0.11.1)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\sumit garg\anaconda3\lib\site-packages (from selenium) (2023.5.7)
Requirement already satisfied: typing_extensions>=4.9.0 in c:\users\sumit garg\anaconda3\lib\site-packages (from selenium) (4.10.0)
Requirement already satisfied: attrs>=20.1.0 in c:\users\sumit garg\anaconda3\lib\site-packages (from trio~=0.17->selenium) (22.1.0)
Requirement already satisfied: sortedcontainers in c:\users\sumit garg\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: idna in c:\users\sumit garg\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.4)
Requirement already satisfied: outcome in c:\users\sumit garg\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.3.0.post0)
Requirement already satisfied: sniffio>=1.3.0 in c:\users\sumit garg\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.3.1)
Requirement already satisfied: cffi>=1.14 in c:\users\sumit garg\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.1)
Requirement already satisfied: wsproto>=0.14 in c:\users\sumit garg\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\sumit garg\anaconda3\lib\site-packages (from urllib3[socks]<3,>=1.26->selenium) (1.7.1)
Requirement already satisfied: pycparser in c:\users\sumit garg\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\sumit garg\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [29]:
import selenium 
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
import pandas as pd
from selenium.webdriver.common.by import By  
import time

### Q1: Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location.
You have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10 jobs data.

link = https://www.shine.com/

In [30]:
driver = webdriver.Chrome()

In [31]:
driver.get('https://www.shine.com/')

In [32]:
designation = driver.find_element(By.CLASS_NAME,'input')
designation.send_keys('data analyst')

In [33]:
search = driver.find_element(By.CLASS_NAME,'iconH-zoom-white')
search.click()

In [34]:
designation = driver.find_element(By.CLASS_NAME,'form-control')
designation.send_keys('data analyst')

In [35]:
location = driver.find_element(By.XPATH,'//li[@class="searchForm_search_item__hr6Du form-group"][1]/div/input')
location.send_keys('Bangalore')

In [39]:
search = driver.find_element(By.CLASS_NAME,"searchForm_btnWrap_advance__VYBHN")
search.click()

In [40]:
job_title = []
title_tag = driver.find_elements(By.XPATH,'/html/body/div[1]/div[2]/div[4]/div/div[2]/div[1]/div/div/div[1]/div[1]/div[1]/h2')
for i in title_tag:
    title = i.text
    job_title.append(title)

In [41]:
job_title

['Clinical Data Analyst']

In [42]:
company_name = []
name = driver.find_elements(By.XPATH,'//div[@class="jobCard_jobCard_cName__mYnow"]/span')
for i in name[0:10]:
    title = i.text
    company_name.append(title)

In [43]:
company_name

['techno endura',
 'sahast sales corporation',
 'radhika enterprises',
 'ara resources private limited',
 'diraa hr services hiring for mncs',
 'uprighthc solutions private limited',
 'symphoni hr pvt. ltd.',
 'spm hr solutions',
 'techno endura',
 'aspect solution']

In [44]:
Experience_req = []
name = driver.find_elements(By.XPATH,'//div[@class="jobCard_jobCard_lists__fdnsc"]/div[1]')
for i in name[0:10]:
    title = i.text
    Experience_req.append(title)

In [45]:
Experience_req

['0 to 1 Yr',
 '12 to 22 Yrs',
 '0 to 4 Yrs',
 '4 to 9 Yrs',
 '0 to 1 Yr',
 '10 to 20 Yrs',
 '8 to 10 Yrs',
 '4 to 6 Yrs',
 '0 to 1 Yr',
 '0 to 1 Yr']

In [46]:
job_location = []
location = driver.find_elements(By.XPATH,'//div[@class="jobCard_jobCard_lists__fdnsc"]/div[2]')
for i in location[0:10]:
    title = i.text.replace('\n','')
    job_location.append(title)

In [47]:
job_location

['Bangalore+6',
 'Bangalore+9',
 'Bangalore+12',
 'Bangalore',
 'Bangalore+3',
 'Bangalore',
 'Bangalore+4',
 'Bangalore',
 'Bangalore+6',
 'Bangalore+9']

In [48]:
df4 = pd.DataFrame({'company_name':company_name,'Experience_req':Experience_req,'job_location':job_location})
df4

                          company_name Experience_req  job_location
0                        techno endura      0 to 1 Yr   Bangalore+6
1             sahast sales corporation   12 to 22 Yrs   Bangalore+9
2                  radhika enterprises     0 to 4 Yrs  Bangalore+12
3        ara resources private limited     4 to 9 Yrs     Bangalore
4    diraa hr services hiring for mncs      0 to 1 Yr   Bangalore+3
5  uprighthc solutions private limited   10 to 20 Yrs     Bangalore
6                symphoni hr pvt. ltd.    8 to 10 Yrs   Bangalore+4
7                     spm hr solutions     4 to 6 Yrs     Bangalore
8                        techno endura      0 to 1 Yr   Bangalore+6
9                      aspect solution      0 to 1 Yr   Bangalore+9

### 2: Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location.
link = https://www.naukri.com/

You have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10 jobs data.

In [61]:
driver = webdriver.Chrome()

In [62]:
driver.get('https://www.naukri.com/')

In [63]:
designation = driver.find_element(By.CLASS_NAME,'suggestor-input')
designation.send_keys('data analyst')

In [64]:
location = driver.find_element(By.XPATH,'/html/body/div[1]/div[7]/div/div/div[5]/div/div/div/div[1]/div/input')
location.send_keys('Bangalore')

In [65]:
search= driver.find_element(By.CLASS_NAME,'qsbSubmit')
search.click()

In [66]:
job_title = []

In [67]:
title_tag = driver.find_elements(By.XPATH,'//div[@class="cust-job-tuple layout-wrapper lay-2 sjw__tuple "]/div/a')
for i in title_tag[0:10]:
    title = i.text
    job_title.append(title)

In [68]:
job_title

['Data Analyst',
 'Data Analyst',
 'Data Analyst',
 'Data Analyst',
 'Data Analyst',
 'Job opportunity _ Data Analyst',
 'Data Sourcing & Triage Analyst',
 'Online Data Analyst',
 'Data Analyst',
 'Data Services Analyst III']

In [70]:
job_location = []
location = driver.find_elements(By.XPATH,'//span[@class="locWdth"]')
for j in location[0:10]:
    locate = j.text
    job_location.append(locate)
job_location

['Bengaluru',
 'Mumbai, Bengaluru',
 'Remote',
 'Hybrid - Bangalore Rural, Karnataka, Hyderabad, Telangana, Chennai, Tamil Nadu',
 'Bengaluru(4th Phase JP Nagar)',
 'Bangalore Rural, Karnataka, Hyderabad, Telangana, India',
 'Bengaluru',
 'Kolkata, Mumbai, New Delhi, Hyderabad, Pune, Chennai, Bengaluru',
 'Hyderabad, Bengaluru, Delhi / NCR',
 'Bengaluru']

In [73]:
company_name = []
company_tag = driver.find_elements(By.XPATH,'//div[@class=" row2"]/span/a[1]')
for k in company_tag[0:10]:
    company_name.append(k.text)
company_name

['Target',
 'FedEx TSCS (India) Pvt Ltd',
 'Puresoftware',
 'Tsit Digital Technologies',
 'Objectwin Technology',
 'Talent Sketchers',
 'Janes',
 'TELUS International',
 'Incanus Technologies',
 'Zoom Info']

In [74]:
experience_required = []
experience_tag = driver.find_elements(By.XPATH,'//span[@class="expwdth"]')
for l in experience_tag[0:10]:
    exp = l.text
    experience_required.append(exp)
experience_required

['2-4 Yrs',
 '1-4 Yrs',
 '5-10 Yrs',
 '5-10 Yrs',
 '1-5 Yrs',
 '6-10 Yrs',
 '0-3 Yrs',
 '1-4 Yrs',
 '0-5 Yrs',
 '4-8 Yrs']

In [75]:
print(len(job_title),len(job_location),len(company_name),len(experience_required))

10 10 10 10

In [76]:
df = pd.DataFrame({'job_title':job_title,'job_location':job_location,'company_name':company_name,'experience_required':experience_required})
df

,job_title,job_location,company_name,experience_required
0,Data Analyst,Bengaluru,Target,2-4 Yrs
1,Data Analyst,"Mumbai, Bengaluru",FedEx TSCS (India) Pvt Ltd,1-4 Yrs
2,Data Analyst,Remote,Puresoftware,5-10 Yrs
3,Data Analyst,"Hybrid - Bangalore Rural, Karnataka, Hyderabad...",Tsit Digital Technologies,5-10 Yrs
4,Data Analyst,Bengaluru(4th Phase JP Nagar),Objectwin Technology,1-5 Yrs
5,Job opportunity _ Data Analyst,"Bangalore Rural, Karnataka, Hyderabad, Telanga...",Talent Sketchers,6-10 Yrs
6,Data Sourcing & Triage Analyst,Bengaluru,Janes,0-3 Yrs
7,Online Data Analyst,"Kolkata, Mumbai, New Delhi, Hyderabad, Pune, C...",TELUS International,1-4 Yrs
8,Data Analyst,"Hyderabad, Bengaluru, Delhi / NCR",Incanus Technologies,0-5 Yrs
9,Data Services Analyst III,Bengaluru,Zoom Info,4-8 Yrs

### Q3: Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:
1. Brand
2. ProductDescription
3. Price

In [78]:
import selenium 
from selenium import webdriver
import pandas as pd
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By   
import time

In [95]:
driver = webdriver.Chrome()

In [96]:
driver.get('https://www.flipkart.com/')

In [97]:
keyword = driver.find_element(By.CLASS_NAME,"Pke_EE")
keyword.send_keys('sunglasses')

In [98]:
searches = driver.find_element(By.CLASS_NAME,'_2iLD__')
searches.click()

In [99]:
Brands = []
brand = driver.find_elements(By.CLASS_NAME,"_2WkVRV")
for i in brand:
    Brands.append(i.text)

In [100]:
Brands

['VINCENT CHASE',
 'VINCENT CHASE',
 'Elligator',
 'ROADWAY',
 'Elligator',
 'Fastrack',
 'Aarna Fashion',
 'VINCENT CHASE',
 'ROADWAY',
 'Elligator',
 'VINCENT CHASE',
 'ROZZETTA CRAFT',
 'PIRASO',
 'SPORT COLLECTION',
 'Hooper',
 'PIRASO',
 'VINCENT CHASE',
 'Lenskart STUDIO',
 'Woggles',
 'VINCENT CHASE',
 'Eyenaks',
 'Lenskart STUDIO',
 'Elligator',
 'VINCENT CHASE',
 'VINCENT CHASE',
 'DEIXELS',
 'Eyewearlabs',
 'Eyewearlabs',
 'Aarna Fashion',
 'ROADWAY',
 'VINCENT CHASE',
 'VINCENT CHASE',
 'hipe',
 'Fastrack',
 'GOOD FRIENDS',
 'VINCENT CHASE',
 'VINCENT CHASE',
 'ROYAL SON',
 'PIRASO',
 'VINCENT CHASE']

In [101]:
Product_description = []
product = driver.find_elements(By.CLASS_NAME,"IRpwTa")
for j in product:
    Product_description.append(j.text)

In [102]:
Product_description

['by Lenskart Polarized, UV Protection Aviator Sunglasses...',
 'by Lenskart Polarized, UV Protection Round Sunglasses (...',
 'UV Protection, Mirrored Wayfarer Sunglasses (52)',
 'UV Protection Retro Square Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (53)',
 'Gradient, UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Retro Square Sunglasses (50)',
 'by Lenskart UV Protection Wayfarer Sunglasses (59)',
 'UV Protection Wayfarer, Sports, Spectacle , Retro Squar...',
 'UV Protection Wayfarer Sunglasses (50)',
 'by Lenskart Polarized, UV Protection Round Sunglasses (...',
 'UV Protection, Gradient Round Sunglasses (Free Size)',
 'UV Protection Over-sized Sunglasses (60)',
 'Polarized Aviator Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (45)',
 'UV Protection Aviator Sunglasses (54)',
 'by Lenskart UV Protection Clubmaster Sunglasses (55)',
 'UV Protection Rectangular Sunglasses (52)',
 'Polarized Cat-eye Sunglasses (Free Size)',
 'by Lenskart Polarized, UV Protection Wayfarer Sunglasse...',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'Polarized, UV Protection Rectangular Sunglasses (54)',
 'UV Protection Wayfarer Sunglasses (52)',
 'by Lenskart Polarized, UV Protection Round Sunglasses (...',
 'by Lenskart UV Protection Clubmaster Sunglasses (55)',
 'Polarized, UV Protection, Riding Glasses Wayfarer Sungl...',
 'Polarized, UV Protection Wayfarer Sunglasses (51)',
 'Polarized, UV Protection Rectangular Sunglasses (65)',
 'UV Protection Aviator Sunglasses (50)',
 'UV Protection Retro Square, Wayfarer, Sports Sunglasses...',
 'by Lenskart Polarized, UV Protection Cat-eye Sunglasses...',
 'by Lenskart Polarized, UV Protection Retro Square Sungl...',
 'UV Protection, Riding Glasses, Gradient Wrap-around, Sp...',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'Polarized Aviator Sunglasses (Free Size)',
 'by Lenskart Polarized, UV Protection Wayfarer Sunglasse...',
 'by Lenskart Polarized, UV Protection Wayfarer Sunglasse...',
 'Mirrored Aviator Sunglasses (58)',
 'UV Protection Butterfly Sunglasses (60)',
 'by Lenskart Polarized, UV Protection Round Sunglasses (...']

In [103]:
price  = []
price_product= driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
for k in price_product:
    price.append(k.text)

In [104]:
price

['₹649',
 '₹879',
 '₹169',
 '₹349',
 '₹169',
 '₹599',
 '₹519',
 '₹499',
 '₹254',
 '₹169',
 '₹699',
 '₹390',
 '₹279',
 '₹243',
 '₹487',
 '₹210',
 '₹699',
 '₹974',
 '₹1,529',
 '₹499',
 '₹385',
 '₹1,388',
 '₹169',
 '₹599',
 '₹749',
 '₹187',
 '₹1,236',
 '₹2,199',
 '₹399',
 '₹209',
 '₹749',
 '₹699',
 '₹269',
 '₹589',
 '₹247',
 '₹449',
 '₹399',
 '₹359',
 '₹299',
 '₹699']

In [105]:
df = pd.DataFrame({'Brands':Brands,'Product_description':Product_description,'price':price})
df

,Brands,Product_description,price
0,VINCENT CHASE,"by Lenskart Polarized, UV Protection Aviator S...",₹649
1,VINCENT CHASE,"by Lenskart Polarized, UV Protection Round Sun...",₹879
2,Elligator,"UV Protection, Mirrored Wayfarer Sunglasses (52)",₹169
3,ROADWAY,UV Protection Retro Square Sunglasses (Free Size),₹349
4,Elligator,UV Protection Wayfarer Sunglasses (53),₹169
5,Fastrack,"Gradient, UV Protection Wayfarer Sunglasses (F...",₹599
6,Aarna Fashion,UV Protection Retro Square Sunglasses (50),₹519
7,VINCENT CHASE,by Lenskart UV Protection Wayfarer Sunglasses ...,₹499
8,ROADWAY,"UV Protection Wayfarer, Sports, Spectacle , Re...",₹254
9,Elligator,UV Protection Wayfarer Sunglasses (50),₹169
10,VINCENT CHASE,"by Lenskart Polarized, UV Protection Round Sun...",₹699
11,ROZZETTA CRAFT,"UV Protection, Gradient Round Sunglasses (Free...",₹390
12,PIRASO,UV Protection Over-sized Sunglasses (60),₹279
13,SPORT COLLECTION,Polarized Aviator Sunglasses (Free Size),₹243
14,Hooper,UV Protection Wayfarer Sunglasses (45),₹487
15,PIRASO,UV Protection Aviator Sunglasses (54),₹210
16,VINCENT CHASE,by Lenskart UV Protection Clubmaster Sunglasse...,₹699
17,Lenskart STUDIO,UV Protection Rectangular Sunglasses (52),₹974
18,Woggles,Polarized Cat-eye Sunglasses (Free Size),"₹1,529"
19,VINCENT CHASE,"by Lenskart Polarized, UV Protection Wayfarer ...",₹499
20,Eyenaks,UV Protection Rectangular Sunglasses (Free Size),₹385
21,Lenskart STUDIO,"Polarized, UV Protection Rectangular Sunglasse...","₹1,388"
22,Elligator,UV Protection Wayfarer Sunglasses (52),₹169
23,VINCENT CHASE,"by Lenskart Polarized, UV Protection Round Sun...",₹599
24,VINCENT CHASE,by Lenskart UV Protection Clubmaster Sunglasse...,₹749
25,DEIXELS,"Polarized, UV Protection, Riding Glasses Wayfa...",₹187
26,Eyewearlabs,"Polarized, UV Protection Wayfarer Sunglasses (51)","₹1,236"
27,Eyewearlabs,"Polarized, UV Protection Rectangular Sunglasse...","₹2,199"
28,Aarna Fashion,UV Protection Aviator Sunglasses (50),₹399
29,ROADWAY,"UV Protection Retro Square, Wayfarer, Sports S...",₹209
30,VINCENT CHASE,"by Lenskart Polarized, UV Protection Cat-eye S...",₹749
31,VINCENT CHASE,"by Lenskart Polarized, UV Protection Retro Squ...",₹699
32,hipe,"UV Protection, Riding Glasses, Gradient Wrap-a...",₹269
33,Fastrack,UV Protection Wayfarer Sunglasses (Free Size),₹589
34,GOOD FRIENDS,Polarized Aviator Sunglasses (Free Size),₹247
35,VINCENT CHASE,"by Lenskart Polarized, UV Protection Wayfarer ...",₹449
36,VINCENT CHASE,"by Lenskart Polarized, UV Protection Wayfarer ...",₹399
37,ROYAL SON,Mirrored Aviator Sunglasses (58),₹359
38,PIRASO,UV Protection Butterfly Sunglasses (60),₹299
39,VINCENT CHASE,"by Lenskart Polarized, UV Protection Round Sun...",₹699

In [106]:
Brands = []
Product_Description = []
Price_list = []

In [107]:
start = 0
end = 4
for page in range(start,end):
    brand = driver.find_elements(By.CLASS_NAME,"_2WkVRV")
    for i in brand:
        Brands.append(i.text)
    product = driver.find_elements(By.CLASS_NAME,"IRpwTa")
    for j in product:
        Product_Description.append(j.text)
    
    price_product= driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
    for k in price_product:
        Price_list.append(k.text)
    next_button = driver.find_element(By.XPATH,'/html/body/div/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]')
    next_button.click()
    time.sleep(3)

In [108]:
print(len(Brands),len(Product_Description),len(Price_list))

160 160 160

In [109]:
df1 = pd.DataFrame({'Brands':Brands,'Product_Description':Product_Description,'Price_list':Price_list})
df1

,Brands,Product_Description,Price_list
0,VINCENT CHASE,"by Lenskart Polarized, UV Protection Aviator S...",₹649
1,VINCENT CHASE,"by Lenskart Polarized, UV Protection Round Sun...",₹879
2,Elligator,"UV Protection, Mirrored Wayfarer Sunglasses (52)",₹169
3,ROADWAY,UV Protection Retro Square Sunglasses (Free Size),₹349
4,Elligator,UV Protection Wayfarer Sunglasses (53),₹169
...,...,...,...
155,POLICE,Gradient Round Sunglasses (47),"₹3,629"
156,ROYAL SON,"Polarized, UV Protection Wayfarer, Retro Squar...",₹719
157,NuVew,UV Protection Oval Sunglasses (64),₹449
158,VINCENT CHASE,"by Lenskart Polarized, UV Protection Aviator S...",₹806
159,ROYAL SON,"Polarized, UV Protection Wayfarer Sunglasses (61)",₹594