In [1]:
! pip install selenium

Requirement already satisfied: selenium in c:\users\nikhi\anaconda3\lib\site-packages (4.18.1)
Requirement already satisfied: urllib3[socks]<3,>=1.26 in c:\users\nikhi\anaconda3\lib\site-packages (from selenium) (1.26.16)
Requirement already satisfied: trio~=0.17 in c:\users\nikhi\anaconda3\lib\site-packages (from selenium) (0.24.0)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\nikhi\anaconda3\lib\site-packages (from selenium) (0.11.1)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\nikhi\anaconda3\lib\site-packages (from selenium) (2023.7.22)
Requirement already satisfied: typing_extensions>=4.9.0 in c:\users\nikhi\anaconda3\lib\site-packages (from selenium) (4.10.0)
Requirement already satisfied: attrs>=20.1.0 in c:\users\nikhi\anaconda3\lib\site-packages (from trio~=0.17->selenium) (22.1.0)
Requirement already satisfied: sortedcontainers in c:\users\nikhi\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: idna in c:\users\nikhi\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.4)
Requirement already satisfied: outcome in c:\users\nikhi\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.3.0.post0)
Requirement already satisfied: sniffio>=1.3.0 in c:\users\nikhi\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.3.1)
Requirement already satisfied: cffi>=1.14 in c:\users\nikhi\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.1)
Requirement already satisfied: wsproto>=0.14 in c:\users\nikhi\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\nikhi\anaconda3\lib\site-packages (from urllib3[socks]<3,>=1.26->selenium) (1.7.1)
Requirement already satisfied: pycparser in c:\users\nikhi\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\nikhi\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [2]:
import selenium
from selenium import webdriver
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time

### Q1 Scrape the details of most viewed videos on YouTube from Wikipedia. 

Url = https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos 

You need to find following details:

A) Rank 

B) Name 

C) Artist

D) Upload date 

E) Views

In [42]:
driver = webdriver.Chrome()

In [43]:
driver.get('https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos')

In [49]:
Name = []
a = driver.find_elements(By.XPATH,'//table[@class="sortable wikitable sticky-header static-row-numbers sort-under col3center col4right jquery-tablesorter"]/tbody/tr/td[1]/a')
for i in a:
    if i.text is None:
        Name.append('--')
    else:
        Name.append(i.text)
print(len(Name))
Name

29

['Baby Shark Dance',
 'Despacito',
 'Johny Johny Yes Papa',
 'Bath Song',
 'Shape of You',
 'See You Again',
 'Wheels on the Bus',
 'Phonics Song with Two Words',
 'Uptown Funk',
 'Gangnam Style',
 'Learning Colors â€“ Colorful Eggs on a Farm',
 'Dame Tu Cosita',
 'Axel F',
 'Sugar',
 'Baa Baa Black Sheep',
 'Counting Stars',
 'Lakdi Ki Kathi',
 'Roar',
 'Waka Waka (This Time for Africa)',
 'Sorry',
 'Shree Hanuman Chalisa',
 'Humpty the train on a fruits ride',
 'Thinking Out Loud',
 'Perfect',
 'Dark Horse',
 'Let Her Go',
 'Faded',
 'Girls Like You',
 'Lean On']

In [48]:
Artist = []
b = driver.find_elements(By.XPATH,'//table[@class="sortable wikitable sticky-header static-row-numbers sort-under col3center col4right jquery-tablesorter"]/tbody/tr/td[2]/a')
for i in b:
    if i.text is None:
        Artist.append('--')
    else:
        Artist.append(i.text)
print(len(Artist))
Artist

28

["Pinkfong Baby Shark - Kids' Songs & Stories",
 'Luis Fonsi',
 "LooLoo Kids - Nursery Rhymes and Children's Songs",
 'Cocomelon - Nursery Rhymes',
 'Ed Sheeran',
 'Wiz Khalifa',
 'Cocomelon - Nursery Rhymes',
 'ChuChu TV Nursery Rhymes & Kids Songs',
 'Mark Ronson',
 'Psy',
 'Miroshka TV',
 'Ultra Records',
 'Get Movies',
 'Crazy Frog',
 'Maroon 5',
 'Cocomelon - Nursery Rhymes',
 'OneRepublic',
 'Katy Perry',
 'Shakira',
 'Justin Bieber',
 'T-Series Bhakti Sagar',
 'Ed Sheeran',
 'Ed Sheeran',
 'Katy Perry',
 'Passenger',
 'Alan Walker',
 'Maroon 5',
 'Major Lazer Official']

In [15]:
Date = []
c = driver.find_elements(By.XPATH,'//table[@class="sortable wikitable sticky-header static-row-numbers sort-under col3center col4right jquery-tablesorter"]/tbody/tr/td[4]')
for i in c:
    Date.append(i.text)

In [23]:
Date

['June 17, 2016',
 'January 12, 2017',
 'October 8, 2016',
 'May 2, 2018',
 'January 30, 2017',
 'April 6, 2015',
 'May 24, 2018',
 'March 6, 2014',
 'November 19, 2014',
 'July 15, 2012',
 'February 27, 2018',
 'April 5, 2018',
 'January 31, 2012',
 'June 16, 2009',
 'January 14, 2015',
 'June 25, 2018',
 'May 31, 2013',
 'June 14, 2018',
 'September 5, 2013',
 'June 4, 2010',
 'October 22, 2015',
 'May 10, 2011',
 'January 26, 2018',
 'October 7, 2014',
 'November 9, 2017',
 'February 20, 2014',
 'July 25, 2012',
 'December 3, 2015',
 'May 31, 2018',
 'March 22, 2015']

In [18]:
Views = []
d = driver.find_elements(By.XPATH,'//table[@class="sortable wikitable sticky-header static-row-numbers sort-under col3center col4right jquery-tablesorter"]/tbody/tr/td[3]')
for i in d:
    Views.append(i.text)

In [24]:
Views

['14.32',
 '8.41',
 '6.89',
 '6.66',
 '6.23',
 '6.22',
 '6.01',
 '5.75',
 '5.18',
 '5.10',
 '5.09',
 '4.59',
 '4.57',
 '4.45',
 '4.02',
 '4.01',
 '4.00',
 '3.98',
 '3.98',
 '3.89',
 '3.78',
 '3.77',
 '3.76',
 '3.75',
 '3.70',
 '3.70',
 '3.64',
 '3.60',
 '3.58',
 '3.57']

In [25]:
driver.close()

### Q2 Scrape the details team Indiaâ€™s international fixtures from bcci.tv. 
Url = https://www.bcci.tv/.

You need to find following details:

A) Series

B) Place

C) Date

D) Time

Note: - From bcci.tv home page you have reach to the international fixture page through code.

In [27]:
driver = webdriver.Chrome()

In [28]:
driver.get('https://www.bcci.tv/')

In [29]:
clicks = driver.find_element(By.XPATH,'/html/body/header/div[3]/div[2]/ul/div[1]/a[2]')
clicks.click()

In [30]:
series  = []
place = []
Date = []
Time = []
time.sleep(3)

a = driver.find_elements(By.XPATH,'//h5[@class="match-tournament-name ng-binding"]')
for i in a:
    series.append(i.text)
    
b = driver.find_elements(By.XPATH,'//div[@class="match-place ng-scope"]')
for i in b:
    place.append(i.text)
    
c = driver.find_elements(By.XPATH,'//div[@class="match-dates ng-binding"]')
for i in c:
    Date.append(i.text)
    
d = driver.find_elements(By.XPATH,'//div[@class="match-time no-margin ng-binding"]')
for i in d:
    Time.append(i.text)

In [31]:
df = pd.DataFrame({'series':series,'place':place,'Date':Date,'Time':Time})
df

,series,place,Date,Time
0,ICC MENS T20 WORLD CUP 2024,"Nassau County International Cricket Stadium, N...","5 JUNE, 2024",8:00 PM IST
1,ICC MENS T20 WORLD CUP 2024,"Nassau County International Cricket Stadium, N...","9 JUNE, 2024",8:00 PM IST
2,ICC MENS T20 WORLD CUP 2024,"Nassau County International Cricket Stadium, N...","12 JUNE, 2024",8:00 PM IST
3,ICC MENS T20 WORLD CUP 2024,"Central Broward Park & Broward County Stadium,...","15 JUNE, 2024",8:00 PM IST
4,INDIA TOUR OF ZIMBABWE 2024,"Harare Sports Club, Harare","6 JULY, 2024",8:00 PM IST
5,INDIA TOUR OF ZIMBABWE 2024,"Harare Sports Club, Harare","7 JULY, 2024",8:00 PM IST
6,INDIA TOUR OF ZIMBABWE 2024,"Harare Sports Club, Harare","10 JULY, 2024",8:00 PM IST
7,INDIA TOUR OF ZIMBABWE 2024,"Harare Sports Club, Harare","13 JULY, 2024",8:00 PM IST
8,INDIA TOUR OF ZIMBABWE 2024,"Harare Sports Club, Harare","14 JULY, 2024",8:00 PM IST

### Q3 Scrape the details of State-wise GDP of India from statisticstime.com. 

Url = http://statisticstimes.com/ 
    
You have to find following details:

A) Rank 

B) State 

C) GSDP(18-19)- at current prices 

D) GSDP(19-20)- at current prices 

E) Share(18-19) 

F) GDP($ billion) 

Note: - From statisticstimes home page you have to reach to economy page through code.

In [55]:
driver = webdriver.Chrome()

In [56]:
driver.get('https://www.statisticstimes.com/')

In [58]:
clicks = driver.find_element(By.XPATH,'/html/body/div[2]/div[1]/div[2]/div[2]/button')
clicks.click()

In [59]:
clicks = driver.find_element(By.XPATH,'/html/body/div[2]/div[1]/div[2]/div[2]/div/a[3]')
clicks.click()

In [60]:
state_Wise = driver.find_element(By.XPATH,'/html/body/div[2]/div[2]/div[2]/ul/li[1]/a')
state_Wise.click()

In [63]:
gdp = driver.find_element(By.XPATH,'/html/body/div[2]/div[2]/div[2]/ul/li[1]/a')       # Locating page foe top videos by xpath
gdp.click()

In [69]:
Rank = []
r=driver.find_elements(By.XPATH,"//td[@class='data1']")
for i in r[0:33]:
    if i.text is None :
        Rank.append("--") 
    else:
        Rank.append(i.text)
print(len(Rank),Rank)

33 ['1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20', '21', '22', '23', '24', '25', '26', '27', '28', '29', '30', '31', '32', '33']

In [68]:
State = []
s =driver.find_elements(By.XPATH,'//td[@class="name"]')
for i in s[0:33]:
    if i.text is None :
        State.append("--") 
    else:
        State.append(i.text)
print(len(State),State)

33 ['Maharashtra', 'Tamil Nadu', 'Karnataka', 'Uttar Pradesh', 'Gujarat', 'West Bengal', 'Rajasthan', 'Andhra Pradesh', 'Telangana', 'Madhya Pradesh', 'Kerala', 'Delhi', 'Haryana', 'Odisha', 'Bihar', 'Punjab', 'Assam', 'Chhattisgarh', 'Jharkhand', 'Uttarakhand', 'Jammu & Kashmir', 'Himachal Pradesh', 'Goa', 'Tripura', 'Chandigarh', 'Puducherry', 'Meghalaya', 'Sikkim', 'Manipur', 'Arunachal Pradesh', 'Nagaland', 'Mizoram', 'Andaman & Nicobar Islands']

In [70]:
GDP_Current = []
g =driver.find_elements(By.XPATH,'//td[@class="data sorting_1"]')
for i in g[0:33]:
    if i.text is None :
        GDP_Current.append("--") 
    else:
        GDP_Current.append(i.text)
print(len(GDP_Current),GDP_Current)

33 ['3,108,022', '2,071,286', '1,978,094', '1,975,595', '1,928,683', '1,329,238', '1,193,489', '1,148,471', '1,124,204', '1,092,964', '934,542', '881,336', '868,905', '662,886', '650,302', '617,192', '411,454', '410,525', '358,863', '267,143', '193,352', '172,162', '84,266', '62,550', '46,096', '43,810', '38,785', '37,557', '36,594', '34,775', '31,038', '27,824', '10,371']

In [71]:
Share = []
g =driver.find_elements(By.XPATH,'//td[@class="data"][3]')
for i in g[0:33]:
    if i.text is None :
        Share.append("--") 
    else:
        Share.append(i.text)
print(len(Share),Share)

33 ['13.17%', '8.78%', '8.38%', '8.37%', '8.17%', '5.63%', '5.06%', '4.87%', '4.76%', '4.63%', '3.96%', '3.73%', '3.68%', '2.81%', '2.76%', '2.62%', '1.74%', '1.74%', '1.52%', '1.13%', '0.82%', '0.73%', '0.36%', '0.27%', '0.20%', '0.19%', '0.16%', '0.16%', '0.16%', '0.15%', '0.13%', '0.12%', '0.04%']

In [77]:
GDP_Prev = []
g =driver.find_elements(By.XPATH,'//table[@class="display dataTable"]/tbody/tr/td[10]')
for i in g[0:33]:
    if i.text is None :
        GDP_Prev.append("--") 
    else:
        GDP_Prev.append(i.text)
print(len(GDP_Prev),GDP_Prev)

33 ['2,027,971', '1,343,287', '1,235,377', '1,200,093', '1,365,922', '787,439', '727,805', '722,727', '669,229', '584,470', '578,057', '580,396', '544,317', '430,541', '399,930', '434,261', '278,835', '280,609', '243,348', '184,274', '119,174', '124,770', '55,342', '39,487', '30,587', '27,131', '24,267', '20,728', '20,515', '19,707', '17,336', '18,494', '7,172']

In [78]:
GDP_bn = []
g =driver.find_elements(By.XPATH,'//table[@class="display dataTable"]/tbody/tr/td[7]')
for i in g[0:33]:
    if i.text is None :
        GDP_bn.append("--") 
    else:
        GDP_bn.append(i.text)
print(len(GDP_bn),GDP_bn)

33 ['414.928', '276.522', '264.080', '263.747', '257.484', '177.456', '159.334', '153.324', '150.084', '145.913', '124.764', '117.660', '116.001', '88.497', '86.817', '82.397', '54.930', '54.806', '47.909', '35.664', '25.813', '22.984', '11.250', '8.351', '6.154', '5.849', '5.178', '5.014', '4.885', '4.643', '4.144', '3.715', '1.385']

In [79]:
df = pd.DataFrame({'Rank':Rank,'State':State,'GDP_Current':GDP_Current,'GDP_Prev':GDP_Prev,'Share':Share,'GDP_bn':GDP_bn})
df

   Rank                      State GDP_Current   GDP_Prev   Share   GDP_bn
0     1                Maharashtra   3,108,022  2,027,971  13.17%  414.928
1     2                 Tamil Nadu   2,071,286  1,343,287   8.78%  276.522
2     3                  Karnataka   1,978,094  1,235,377   8.38%  264.080
3     4              Uttar Pradesh   1,975,595  1,200,093   8.37%  263.747
4     5                    Gujarat   1,928,683  1,365,922   8.17%  257.484
5     6                West Bengal   1,329,238    787,439   5.63%  177.456
6     7                  Rajasthan   1,193,489    727,805   5.06%  159.334
7     8             Andhra Pradesh   1,148,471    722,727   4.87%  153.324
8     9                  Telangana   1,124,204    669,229   4.76%  150.084
9    10             Madhya Pradesh   1,092,964    584,470   4.63%  145.913
10   11                     Kerala     934,542    578,057   3.96%  124.764
11   12                      Delhi     881,336    580,396   3.73%  117.660
12   13                    Haryana     868,905    544,317   3.68%  116.001
13   14                     Odisha     662,886    430,541   2.81%   88.497
14   15                      Bihar     650,302    399,930   2.76%   86.817
15   16                     Punjab     617,192    434,261   2.62%   82.397
16   17                      Assam     411,454    278,835   1.74%   54.930
17   18               Chhattisgarh     410,525    280,609   1.74%   54.806
18   19                  Jharkhand     358,863    243,348   1.52%   47.909
19   20                Uttarakhand     267,143    184,274   1.13%   35.664
20   21            Jammu & Kashmir     193,352    119,174   0.82%   25.813
21   22           Himachal Pradesh     172,162    124,770   0.73%   22.984
22   23                        Goa      84,266     55,342   0.36%   11.250
23   24                    Tripura      62,550     39,487   0.27%    8.351
24   25                 Chandigarh      46,096     30,587   0.20%    6.154
25   26                 Puducherry      43,810     27,131   0.19%    5.849
26   27                  Meghalaya      38,785     24,267   0.16%    5.178
27   28                     Sikkim      37,557     20,728   0.16%    5.014
28   29                    Manipur      36,594     20,515   0.16%    4.885
29   30          Arunachal Pradesh      34,775     19,707   0.15%    4.643
30   31                   Nagaland      31,038     17,336   0.13%    4.144
31   32                    Mizoram      27,824     18,494   0.12%    3.715
32   33  Andaman & Nicobar Islands      10,371      7,172   0.04%    1.385

In [80]:
driver.close()

### Q4 Scrape the details of trending repositories on Github.com. 

Url = https://github.com/ 

You have to find the following details: 

A) Repository title 

B) Repository description 

C) Contributors count 

D) Language used 

Note: - From the home page you have to click on the trending option from Explore menu through code.

In [81]:
driver = webdriver.Chrome()

In [82]:
driver.get('https://github.com/')

In [85]:
clicks = driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/header/div/div[2]/div/nav/ul/li[3]/button')
clicks.click()

In [86]:
clicks = driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/header/div/div[2]/div/nav/ul/li[3]/div/div[3]/ul/li[2]/a')
clicks.click()

In [87]:
title = []
ttl = driver.find_elements(By.XPATH,'//a[@class="Link"]')
for i in ttl:
    title.append(i.text)

In [91]:
print(len(title))
title

25

['princeton-nlp / SWE-agent',
 'zyronon / douyin',
 'wandb / openui',
 'netease-youdao / QAnything',
 'intel-analytics / ipex-llm',
 'infiniflow / ragflow',
 'usebruno / bruno',
 'amlweems / xzbot',
 'rocketseat-education / nlw-unite-nodejs',
 'HardhatChad / ore',
 'pedroslopez / whatsapp-web.js',
 'microsoft / generative-ai-for-beginners',
 'ixartz / SaaS-Boilerplate',
 'PKUFlyingPig / cs-self-learning',
 'heyform / heyform',
 'HeyPuter / puter',
 'atherosai / ui',
 'gethomepage / homepage',
 'OneUptime / oneuptime',
 'OpenBMB / ChatDev',
 'airbnb / javascript',
 'apache / superset',
 'actions / runner-images',
 'firebase / firebase-ios-sdk',
 'jwasham / coding-interview-university']

In [89]:
description = []
ttl = driver.find_elements(By.XPATH,'//a[@class="Link"]')
for i in ttl:
    if i.text is None:
        description.append('--')
    else:
        description.append(i.text)
        
print(len(description))
description

25

['princeton-nlp / SWE-agent',
 'zyronon / douyin',
 'wandb / openui',
 'netease-youdao / QAnything',
 'intel-analytics / ipex-llm',
 'infiniflow / ragflow',
 'usebruno / bruno',
 'amlweems / xzbot',
 'rocketseat-education / nlw-unite-nodejs',
 'HardhatChad / ore',
 'pedroslopez / whatsapp-web.js',
 'microsoft / generative-ai-for-beginners',
 'ixartz / SaaS-Boilerplate',
 'PKUFlyingPig / cs-self-learning',
 'heyform / heyform',
 'HeyPuter / puter',
 'atherosai / ui',
 'gethomepage / homepage',
 'OneUptime / oneuptime',
 'OpenBMB / ChatDev',
 'airbnb / javascript',
 'apache / superset',
 'actions / runner-images',
 'firebase / firebase-ios-sdk',
 'jwasham / coding-interview-university']

In [92]:
Language = []
lng = driver.find_elements(By.XPATH,'//span[@class="d-inline-block ml-0 mr-3"]/span[2]')
for i in lng:
    if i.text is None:
        Language.append('--')
    else:
        Language.append(i.text)
        
print(len(Language))
Language

24

['Python',
 'Vue',
 'TypeScript',
 'Python',
 'Python',
 'Python',
 'JavaScript',
 'Go',
 'TypeScript',
 'Rust',
 'JavaScript',
 'Jupyter Notebook',
 'TypeScript',
 'HTML',
 'TypeScript',
 'JavaScript',
 'HTML',
 'JavaScript',
 'TypeScript',
 'Shell',
 'JavaScript',
 'TypeScript',
 'PowerShell',
 'Objective-C']

In [93]:
Contributors_count = []
cnt = driver.find_elements(By.XPATH,'//a[@class="Link Link--muted d-inline-block mr-3"][2]')
for i in cnt:
    if i.text is None:
        Contributors_count.append('--')
    else:
        Contributors_count.append(i.text)
        
print(len(Contributors_count))
Contributors_count

25

['439',
 '679',
 '287',
 '597',
 '1,179',
 '126',
 '810',
 '193',
 '76',
 '17',
 '3,195',
 '21,201',
 '74',
 '5,618',
 '318',
 '659',
 '1,180',
 '847',
 '148',
 '2,694',
 '26,111',
 '12,419',
 '2,774',
 '1,332',
 '72,172']

### Q5 Scrape the details of top 100 songs on billiboard.com. Url = https:/www.billboard.com/ You have to find the following details: 

A) Song name 

B) Artist name 

C) Last week rank 

D) Peak rank 

E) Weeks on board 

Note: - From the home page you have to click on the charts option then hot 100-page link through code.

In [94]:
driver = webdriver.Chrome()

In [95]:
driver.get('https:/www.billboard.com/')

In [96]:
clicks = driver.find_element(By.XPATH,'/html/body/div[3]/header/div/div[3]/div/nav/ul/li[1]/a')
clicks.click()

In [97]:
song_name = []
for i in driver.find_elements(By.XPATH,'//li[@class="lrv-u-width-100p"]/ul/li/h3'):
    song_name.append(i.text)

In [100]:

print(len(song_name),song_name)

100 ['Like That', 'Type Shit', 'Beautiful Things', 'Lose Control', 'Too Sweet', 'Cinderella', 'Lovin On Me', "We Don't Trust You", 'Young Metro', "We Can't Be Friends (Wait For Your Love)", "Texas Hold 'Em", 'Carnival', 'Ice Attack', 'Obsessed', 'I Remember Everything', 'Cruel Summer', 'Greedy', 'Stick Season', 'Water', 'Slimed In', 'End Of Beginning', 'Agora Hills', 'Snooze', 'Claustrophobic', 'Fast Car', 'Saturn', 'Magic Don Juan (Princess Diana)', 'Get It Sexyy', 'Never Lose Me', 'Redrum', 'Act II: Date @ 8', 'Whatever She Wants', 'Fried (She A Vibe)', 'Made For Me', 'Feather', 'Runnin Outta Time', 'Man Made A Bar', 'Everyday Hustle', 'Truck Bed', 'GTA', "Ain't No Love", 'Houdini', 'Paint The Town Red', 'Enough (Miami)', 'Slow It Down', 'Selfish', "Is It Over Now? (Taylor's Version) [From The Vault]", '23', 'Yeah Glo!', 'Where The Wild Things Are', 'Burn It Down', 'WTFYM', 'Austin', 'Seen It All', 'Wild Ones', 'La Diabla', 'Exes', 'So American', 'Wildflowers And Wild Horses', 'The Boy Is Mine', 'Yes, And?', 'Where My Twin @', 'Get In With Me', 'Soak City', 'Scared To Start', 'Everybody', 'Praise Jah In The Moonlight', "Mamaw's House", 'La People II', 'I Like The Way You Kiss Me', 'Training Season', 'Punteria', 'Corazon de Piedra', 'One Of The Girls', 'Stranger', 'Mmhmm', 'Bandit', 'Surround Sound', 'Where It Ends', 'Supernatural', 'Tu Name', 'FTCU', 'Gata Only', 'I Can Feel It', 'Breathe', 'Bye', 'Eternal Sunshine', 'Wildflower And Barley', 'Sensational', 'Scared Of My Guitar', 'Spin You Around (1/24)', 'One Call', 'Best For Me', 'You Broke My Heart', 'Home', 'La Victima', 'Tucson Too Late', 'Empire Now', "Girl I've Always Been", 'Outskirts']

In [101]:
Artist_name = []
for i in driver.find_elements(By.XPATH,'//li[@class="lrv-u-width-100p"]/ul/li[1]/span'):
    Artist_name.append(i.text)

In [102]:
print(len(Artist_name),Artist_name)

100 ['Future, Metro Boomin & Kendrick Lamar', 'Future, Metro Boomin, Travis Scott & Playboi Carti', 'Benson Boone', 'Teddy Swims', 'Hozier', 'Future, Metro Boomin & Travis Scott', 'Jack Harlow', 'Future & Metro Boomin', 'Future, Metro Boomin & The Weeknd', 'Ariana Grande', 'Beyonce', 'Â¥$: Ye & Ty Dolla $ign Featuring Rich The Kid & Playboi Carti', 'Future & Metro Boomin', 'Olivia Rodrigo', 'Zach Bryan Featuring Kacey Musgraves', 'Taylor Swift', 'Tate McRae', 'Noah Kahan', 'Tyla', 'Future & Metro Boomin', 'Djo', 'Doja Cat', 'SZA', 'Future & Metro Boomin', 'Luke Combs', 'SZA', 'Future & Metro Boomin', 'Sexyy Red', 'Flo Milli', '21 Savage', '4Batz Featuring Drake', 'Bryson Tiller', 'Future & Metro Boomin', 'Muni Long', 'Sabrina Carpenter', 'Future & Metro Boomin', 'Morgan Wallen Featuring Eric Church', 'Future, Metro Boomin & Rick Ross', 'HARDY', 'Future & Metro Boomin', 'Future & Metro Boomin', 'Dua Lipa', 'Doja Cat', 'Cardi B', 'Benson Boone', 'Justin Timberlake', 'Taylor Swift', 'Chayce Beckham', 'GloRilla', 'Luke Combs', 'Parker McCollum', 'Future & Metro Boomin', 'Dasha', 'Future & Metro Boomin', 'Jessie Murph & Jelly Roll', 'Xavi', 'Tate McRae', 'Olivia Rodrigo', 'Lainey Wilson', 'Ariana Grande', 'Ariana Grande', 'Future & Metro Boomin', 'BossMan Dlow', '310babii', 'Michael Marcagi', 'Nicki Minaj Featuring Lil Uzi Vert', 'YG Marley', 'Thomas Rhett Featuring Morgan Wallen', 'Peso Pluma, Tito Double P & Joel de La P', 'Artemas', 'Dua Lipa', 'Shakira & Cardi B', 'Xavi', 'The Weeknd, Jennie & Lily Rose Depp', 'Olivia Rodrigo', 'BigXthaPlug', 'Don Toliver', 'JID Featuring 21 Savage & Baby Tate', 'Bailey Zimmerman', 'Ariana Grande', 'Fuerza Regida', 'Nicki Minaj', 'FloyyMenor X Cris Mj', 'Kane Brown', 'Yeat', 'Ariana Grande', 'Ariana Grande', 'Hozier & Allison Russell', 'Chris Brown Featuring Davido & Lojay', 'Olivia Rodrigo', 'Morgan Wallen', 'Rich Amiri', 'Joyner Lucas & Jelly Roll', 'Drake', 'Good Neighbours', 'Xavi', 'Jordan Davis', 'Hozier', 'Olivia Rodrigo', 'Sam Hunt']

In [103]:
Last_week_rank = []
for i in driver.find_elements(By.XPATH,'//li[@class="lrv-u-width-100p"]/ul/li[4]'):
    Last_week_rank.append(i.text)

In [104]:
print(len(Last_week_rank),Last_week_rank)

100 ['-', '-', '2', '1', '-', '-', '4', '-', '-', '3', '6', '5', '-', '-', '7', '10', '8', '12', '20', '-', '11', '13', '14', '-', '18', '17', '-', '23', '15', '22', '19', '24', '-', '25', '26', '-', '28', '-', '27', '-', '-', '29', '32', '9', '-', '30', '31', '45', '35', '41', '42', '-', '59', '-', '37', '44', '43', '-', '48', '34', '36', '-', '50', '53', '56', '51', '62', '55', '-', '-', '61', '-', '-', '58', '-', '70', '60', '57', '67', '40', '74', '71', '98', '63', '64', '52', '49', '-', '73', '-', '78', '75', '-', '69', '80', '77', '81', '-', '-', '92']

In [106]:
Peak_rank = []
for i in driver.find_elements(By.XPATH,'//li[@class="lrv-u-width-100p"]/ul/li[5]'):
    Peak_rank.append(i.text)

In [107]:
print(len(Peak_rank),Peak_rank)

100 ['1', '2', '2', '1', '5', '6', '1', '8', '9', '1', '1', '1', '13', '14', '1', '1', '3', '10', '7', '20', '11', '7', '2', '24', '2', '6', '27', '23', '15', '5', '7', '19', '33', '20', '26', '36', '15', '38', '27', '40', '41', '11', '1', '9', '45', '19', '1', '45', '35', '26', '42', '52', '53', '54', '35', '20', '34', '58', '48', '16', '1', '62', '49', '53', '56', '24', '34', '55', '69', '70', '27', '72', '73', '51', '75', '65', '38', '40', '32', '17', '66', '15', '83', '50', '42', '25', '23', '88', '71', '90', '24', '60', '93', '11', '77', '46', '81', '98', '99', '92']

In [108]:
Weeks_on_board = []
for i in driver.find_elements(By.XPATH,'//li[@class="lrv-u-width-100p"]/ul/li[6]'):
    Weeks_on_board.append(i.text)

In [109]:
print(len(Weeks_on_board),Weeks_on_board)

100 ['1', '1', '10', '33', '1', '1', '20', '1', '1', '3', '7', '7', '1', '1', '31', '47', '28', '26', '26', '1', '6', '27', '67', '1', '53', '5', '1', '2', '15', '11', '12', '6', '1', '11', '17', '1', '27', '1', '41', '1', '1', '20', '34', '2', '1', '9', '22', '13', '7', '19', '23', '1', '3', '1', '25', '15', '19', '1', '9', '3', '11', '1', '8', '15', '6', '16', '9', '13', '1', '1', '6', '1', '1', '14', '1', '14', '8', '20', '13', '3', '6', '16', '2', '13', '6', '3', '3', '1', '8', '1', '9', '9', '1', '19', '8', '15', '4', '1', '1', '3']

In [110]:
df = pd.DataFrame({'song_name':song_name,'Artist_name':Artist_name,'Last_week_rank':Last_week_rank,'Peak_rank':Peak_rank,'Weeks_on_board':Weeks_on_board})
df

,song_name,Artist_name,Last_week_rank,Peak_rank,Weeks_on_board
0,Like That,"Future, Metro Boomin & Kendrick Lamar",-,1,1
1,Type Shit,"Future, Metro Boomin, Travis Scott & Playboi C...",-,2,1
2,Beautiful Things,Benson Boone,2,2,10
3,Lose Control,Teddy Swims,1,1,33
4,Too Sweet,Hozier,-,5,1
...,...,...,...,...,...
95,La Victima,Xavi,77,46,15
96,Tucson Too Late,Jordan Davis,81,81,4
97,Empire Now,Hozier,-,98,1
98,Girl I've Always Been,Olivia Rodrigo,-,99,1
99,Outskirts,Sam Hunt,92,92,3

In [111]:
driver.close()

### Q6 Scrape the details of Highest selling novels. 

A) Book name 

B) Author name 

C) Volumes sold 

D) Publisher 

E) Genre 

Url - https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare

In [113]:
driver = webdriver.Chrome()

In [114]:
driver.get('https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare')

In [126]:
Book_name = []
Author_name = []
Volumes_sold = []
Publisher = []
Genre = []

for i in driver.find_elements(By.XPATH,'//td[@class="left"][2]'):
    Book_name.append(i.text)
for j in driver.find_elements(By.XPATH,'//td[@class="left"][3]'):
    Author_name.append(j.text)
    
for k in driver.find_elements(By.XPATH,'//td[@class="left"][4]'):
    Volumes_sold.append(k.text)
for l in driver.find_elements(By.XPATH,'//td[@class="left"][5]'):
    Publisher.append(l.text)
for m in driver.find_elements(By.XPATH,'//td[@class="last left"]'):
    Genre.append(m.text)

In [127]:
len(Book_name)

100

In [128]:
len(Author_name)

100

In [129]:
len(Volumes_sold)

100

In [130]:
len(Publisher)

100

In [131]:
len(Genre)

100

In [132]:
df = pd.DataFrame({'Book_name':Book_name,'Author_name':Author_name,'Volumes_sold':Volumes_sold,'Publisher':Publisher,'Genre':Genre})
df

,Book_name,Author_name,Volumes_sold,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

In [133]:
driver.close()

### Q8 Details of Datasets from UCI machine learning repositories. 

Url = https://archive.ics.uci.edu/ 

You have to find the following details: 

A) Dataset name 

B) Data type 

C) Task 

D) Attribute type 

E) No of instances 

F) No of attribute G) Year 

Note: - from the home page you have to go to the Show All Dataset page through code.

In [152]:
driver = webdriver.Chrome()

In [153]:
driver.get('https://archive.ics.uci.edu/')

In [154]:
clicks = driver.find_element(By.XPATH,'/html/body/div/div[1]/div[1]/main/div/div[1]/div/div/div/a[1]')
clicks.click()

In [161]:
links = []
start = 0
end = 10
time.sleep(3)

for page in range(start,end):
    lnk = driver.find_elements(By.XPATH,'//a[@class="link-hover link text-xl font-semibold"]')
    for i in lnk:
        links.append(i.get_attribute('href'))
    
    next_button = driver.find_element(By.XPATH,'//button[@class="btn-primary btn-sm btn"][2]')
    next_button.click()
    time.sleep(3)

In [182]:
len(links)

100

In [188]:
Year = []

for i in links:
    driver.get(i)
    time.sleep(5)
    
    yr = driver.find_elements(By.XPATH,'//h2[@class="text-sm text-primary-content"]')
    for i in yr:
        Year.append(i.text)

In [156]:
Dataset_name = []
Data_type = []
Task = []
No_of_instances = []
start = 0
end = 10

for page in range(start,end):
    name = driver.find_elements(By.XPATH,'//a[@class="link-hover link text-xl font-semibold"]')
    for i in name:
        Dataset_name.append(i.text)
        
    types = driver.find_elements(By.XPATH,'//div[@class="col-span-3 flex items-center gap-2"][2]/span')
    for j in types:
        if j.text is None:
            Data_type.append('--')
        else:
            Data_type.append(j.text)
        
    tk = driver.find_elements(By.XPATH,'//div[@class="col-span-3 flex items-center gap-2"][1]/span')    
    for k in tk:
        Task.append(k.text)
        
    instance = driver.find_elements(By.XPATH,'//div[@class="col-span-3 flex items-center gap-2"][3]/span')
    for l in instance:
        if l.text is None:
            No_of_instances.append('--')
        else:
            No_of_instances.append(l.text)   
         
    next_button = driver.find_element(By.XPATH,'//button[@class="btn-primary btn-sm btn"][2]')
    next_button.click()
    time.sleep(8)

In [181]:
No_of_attribute = []
start = 0
end = 10

for page in range(start,end):
    attr = driver.find_elements(By.XPATH,'//div[@class="col-span-3 flex items-center gap-2"][4]/span')
    for i in attr:
        if i.text is None:
            No_of_attribute.append('--')
        else:
            No_of_attribute.append(i.text)
        
    next_button = driver.find_element(By.XPATH,'//button[@class="btn-primary btn-sm btn"][2]')
    next_button.click()
    time.sleep(6)

In [189]:
print(len(Year),Year)

93 ['Donated on 6/30/1988', 'Donated on 9/13/2020', 'Donated on 6/30/1988', 'Donated on 10/5/2019', 'Donated on 4/30/1996', 'Donated on 8/13/2023', 'Donated on 10/31/1995', 'Donated on 6/30/1991', 'Donated on 10/6/2009', 'Donated on 2/13/2012', 'Donated on 5/31/1997', 'Donated on 4/26/1987', 'Donated on 11/30/1995', 'Donated on 11/26/2014', 'Donated on 11/5/2015', 'Donated on 4/30/1996', 'Donated on 5/18/1987', 'Donated on 11/16/1994', 'Donated on 7/10/1988', 'Donated on 7/6/1993', 'Donated on 12/12/2021', 'Donated on 6/30/1999', 'Donated on 7/14/1992', 'Donated on 8/31/1987', 'Donated on 3/22/2016', 'Donated on 1/25/2016', 'Donated on 12/31/1986', 'Donated on 12/9/2012', 'Donated on 9/20/2019', 'Donated on 12/19/2013', 'Donated on 6/30/1998', 'Donated on 6/21/2012', 'Donated on 5/14/1990', 'Donated on 8/29/2012', 'Donated on 8/26/2019', 'Donated on 4/30/2007', 'Donated on 8/30/2018', 'Donated on 2/28/2008', 'Donated on 9/20/2019', 'Donated on 12/19/2013', 'Donated on 6/30/1998', 'Donated on 6/21/2012', 'Donated on 5/14/1990', 'Donated on 8/29/2012', 'Donated on 8/26/2019', 'Donated on 4/30/2007', 'Donated on 8/30/2018', 'Donated on 2/28/2008', 'Linked on 9/25/2023', 'Donated on 9/28/2012', 'Donated on 4/26/1987', 'Donated on 8/17/2018', 'Donated on 8/31/1996', 'Donated on 8/18/1991', 'Donated on 11/29/2012', 'Donated on 10/31/1990', 'Donated on 2/29/2020', 'Donated on 3/30/2014', 'Donated on 6/30/1998', 'Donated on 8/2/2007', 'Donated on 12/31/1997', 'Donated on 6/25/2008', 'Donated on 5/31/1997', 'Donated on 8/29/2020', 'Donated on 12/25/2019', 'Donated on 7/2/2015', 'Donated on 10/12/1999', 'Donated on 11/30/1995', 'Donated on 4/21/1994', 'Donated on 7/10/1988', 'Donated on 3/12/2015', 'Donated on 5/30/2015', 'Donated on 12/31/1997', 'Donated on 3/25/2015', 'Donated on 4/15/2013', 'Donated on 9/8/1999', 'Donated on 9/25/1997', 'Donated on 2/28/1989', 'Donated on 2/14/2017', 'Donated on 7/6/1999', 'Donated on 8/31/1996', 'Donated on 7/11/2020', 'Donated on 2/12/1993', 'Donated on 3/25/2014', 'Donated on 8/2/2020', 'Donated on 7/2/2000', 'Donated on 7/12/2009', 'Donated on 7/6/1997', 'Donated on 9/11/1994', 'Donated on 8/14/2023', 'Donated on 10/3/2018', 'Donated on 5/14/1990', 'Donated on 2/11/2014']

In [183]:
print(len(No_of_attribute),No_of_attribute)

84 ['4 Features', '16 Features', '13 Features', '7 Features', '14 Features', '8 Features', '30 Features', '13 Features', '12 Features', '20 Features', '17 Features', '6 Features', '22 Features', '8 Features', '33 Features', '8 Features', '14 Features', '25 Features', '20 Features', '9 Features', '7 Features', '36 Features', '57 Features', '9 Features', '9 Features', '15 Features', '15 Features', '23 Features', '5 Features', '561 Features', '541.91K Features', '13 Features', '64 Features', '16 Features', '9 Features', '16 Features', '10 Features', '18 Features', '541.91K Features', '13 Features', '64 Features', '16 Features', '9 Features', '16 Features', '10 Features', '18 Features', '21 Features', '16 Features', '6 Features', '60 Features', '8 Features', '9 Features', '8 Features', '19 Features', '14 Features', '8 Features', '16 Features', '9 Features', '8 Features', '14 Features', '21 Features', '25 Features', '14 Features', '4 Features', '140.26K Features', '35 Features', '61 Features', '5 Features', '10 Features', '29 Features', '8 Features', '17 Features', '36 Features', '4 Features', '8 Features', '15 Features', '86 Features', '128 Features', '18 Features', '617 Features', '33 Features', '6 Features', '30 Features', '28 Features']

In [157]:
print(len(Dataset_name),Dataset_name)

100 ['Iris', 'Dry Bean', 'Heart Disease', 'Rice (Cammeo and Osmancik)', 'Adult', 'Raisin', 'Breast Cancer Wisconsin (Diagnostic)', 'Wine', 'Wine Quality', 'Diabetes', 'Bank Marketing', 'Car Evaluation', 'Mushroom', 'Abalone', 'Student Performance', 'Online Retail', 'Census Income', 'Automobile', 'Statlog (German Credit Data)', 'Breast Cancer', 'Bank Marketing', 'Car Evaluation', 'Mushroom', 'Abalone', 'Student Performance', 'Online Retail', 'Census Income', 'Automobile', 'Statlog (German Credit Data)', 'Breast Cancer', 'Online Retail II', 'Bike Sharing', 'Optical Recognition of Handwritten Digits', 'SMS Spam Collection', 'Zoo', 'Individual Household Electric Power Consumption', 'Estimation of Obesity Levels Based On Eating Habits and Physical Condition', 'MAGIC Gamma Telescope', 'Online Shoppers Purchasing Intention Dataset', 'Forest Fires', 'Lung Cancer', 'Covertype', 'Liver Disorders', 'Letter Recognition', 'Heart Failure Clinical Records', 'Diabetes 130-US Hospitals for Years 1999-2008', 'Ionosphere', 'Computer Hardware', 'Hepatitis', 'Internet Advertisements', 'CDC Diabetes Health Indicators', 'Seeds', 'Congressional Voting Records', 'Real Estate Valuation', 'Connectionist Bench (Sonar, Mines vs. Rocks)', 'Yeast', 'Tic-Tac-Toe Endgame', 'Energy Efficiency', 'Image Segmentation', 'Seoul Bike Sharing Demand', 'Wholesale customers', 'Pen-Based Recognition of Handwritten Digits', 'Concrete Compressive Strength', 'Arrhythmia', 'Parkinsons', 'Nursery', 'AI4I 2020 Predictive Maintenance Dataset', 'Apartment for Rent Classified', 'Chronic Kidney Disease', 'Statlog (Australian Credit Approval)', 'EEG Database', 'Breast Cancer Wisconsin (Prognostic)', 'Statlog (Heart)', 'Balance Scale', 'Soybean (Large)', 'ElectricityLoadDiagrams20112014', 'Online News Popularity', 'Dermatology', 'Phishing Websites', 'Banknote Authentication', 'Twenty Newsgroups', 'Reuters-21578 Text Categorization Collection', 'Solar Flare', 'Appliances Energy Prediction', 'Movie', 'Ecoli', 'Early Stage Diabetes Risk Prediction', 'Statlog (Landsat Satellite)', 'Combined Cycle Power Plant', 'Statlog (Shuttle)', 'Productivity Prediction of Garment Employees', 'Insurance Company Benchmark (COIL 2000)', 'Communities and Crime', 'Statlog (Vehicle Silhouettes)', 'Contraceptive Method Choice', 'ISOLET', 'Higher Education Students Performance Evaluation', 'Drug Reviews (Drugs.com)', 'Flags', 'HIGGS']

In [158]:
print(len(Data_type),Data_type)

98 ['Tabular', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Tabular', 'Multivariate', 'Multivariate, Time-Series', 'Multivariate', 'Multivariate', 'Multivariate', 'Tabular', 'Multivariate', 'Multivariate, Sequential, Time-Series', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Tabular', 'Multivariate', 'Multivariate, Sequential, Time-Series', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate, Sequential, Time-Series, Text', 'Multivariate', 'Multivariate', 'Multivariate, Text, Domain-Theory', 'Multivariate', 'Multivariate, Time-Series', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Tabular, Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate, Time-Series', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate, Time-Series', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Time-Series', 'Multivariate', 'Multivariate', 'Tabular', 'Multivariate', 'Text', 'Multivariate', 'Multivariate, Time-Series', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate, Time-Series', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate, Text', 'Multivariate', 'null']

In [159]:
print(len(Task),Task)

100 ['Classification', 'Classification', 'Classification', 'Classification', 'Classification', 'Classification', 'Classification', 'Classification', 'Classification, Regression', 'Classification', 'Classification', 'Classification', 'Classification', 'Classification, Regression', 'Classification, Regression', 'Classification, Clustering', 'Classification', 'Regression', 'Classification', 'Classification', 'Classification', 'Classification', 'Classification', 'Classification, Regression', 'Classification, Regression', 'Classification, Clustering', 'Classification', 'Regression', 'Classification', 'Classification', 'Classification, Regression, Clustering', 'Regression', 'Classification', 'Classification, Clustering', 'Classification', 'Regression, Clustering', 'Classification, Regression, Clustering', 'Classification', 'Classification, Clustering', 'Regression', 'Classification', 'Classification', 'Regression', 'Classification', 'Classification, Regression, Clustering', 'Classification, Clustering', 'Classification', 'Regression', 'Classification', 'Classification', 'Classification', 'Classification, Clustering', 'Classification', 'Regression', 'Classification', 'Classification', 'Classification', 'Classification, Regression', 'Classification', 'Regression', 'Classification, Clustering', 'Classification', 'Regression', 'Classification', 'Classification', 'Classification', 'Classification, Regression, Causal-Discovery', 'Classification, Regression, Clustering', 'Classification', 'Classification', 'Classification', 'Classification, Regression', 'Classification', 'Classification', 'Classification', 'Regression, Clustering', 'Classification, Regression', 'Classification', 'Classification', 'Classification', '20K Instances', 'Classification', 'Regression', 'Regression', '10K Instances', 'Classification', 'Classification', 'Classification', 'Regression', 'Classification', 'Classification, Regression', 'Regression, Description', 'Regression', 'Classification', 'Classification', 'Classification', 'Classification', 'Classification, Regression, Clustering', 'Classification', 'Classification']

In [160]:
print(len(No_of_instances),No_of_instances)

98 ['150 Instances', '13.61K Instances', '303 Instances', '3.81K Instances', '48.84K Instances', '900 Instances', '569 Instances', '178 Instances', '4.9K Instances', '1 Instances', '45.21K Instances', '1.73K Instances', '8.12K Instances', '4.18K Instances', '649 Instances', '541.91K Instances', '48.84K Instances', '205 Instances', '1K Instances', '286 Instances', '45.21K Instances', '1.73K Instances', '8.12K Instances', '4.18K Instances', '649 Instances', '541.91K Instances', '48.84K Instances', '205 Instances', '1K Instances', '286 Instances', '1.07M Instances', '17.39K Instances', '5.62K Instances', '5.57K Instances', '101 Instances', '2.08M Instances', '2.11K Instances', '19.02K Instances', '12.33K Instances', '517 Instances', '32 Instances', '581.01K Instances', '345 Instances', '20K Instances', '299 Instances', '101.77K Instances', '351 Instances', '209 Instances', '155 Instances', '3.28K Instances', '253.68K Instances', '210 Instances', '435 Instances', '414 Instances', '208 Instances', '1.48K Instances', '958 Instances', '768 Instances', '2.31K Instances', '8.76K Instances', '440 Instances', '10.99K Instances', '1.03K Instances', '452 Instances', '197 Instances', '12.96K Instances', '10K Instances', '10K Instances', '400 Instances', '690 Instances', '122 Instances', '198 Instances', '270 Instances', '625 Instances', '307 Instances', '370 Instances', '39.8K Instances', '366 Instances', '11.06K Instances', '1.37K Instances', '21.58K Instances', '1.39K Instances', '19.74K Instances', '336 Instances', '520 Instances', '6.44K Instances', '9.57K Instances', '58K Instances', '1.2K Instances', '9K Instances', '1.99K Instances', '946 Instances', '1.47K Instances', '7.8K Instances', '145 Instances', '215.06K Instances', '194 Instances', '11M Instances']